<?xml version="1.0" encoding="UTF-8" ?>
<!-- Specify the refresh internal in seconds. -->
<Configuration monitorInterval="60">
	
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %p [%c] - &lt;%m&gt;%n"/>
        </Console>       
        <RollingFile name="file" fileName="/applog/dev.log" append="true"
        filePattern="/applog/dev-%d{yyyy-MM-dd-HH}-%i.log">
            <PatternLayout pattern="%d (%F:%L) %-5p - %m%n"/>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy />
            </Policies>    
        </RollingFile>
    </Appenders>
    <Loggers>
        
        <Logger  name="org.pub.pay" level="debug" additivity="false" includeLocation="true">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/>
        </Logger>        
        <Root level="error">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/>
        </Root>
    </Loggers>
</Configuration>
